# Node modules
node_modules/

# Build outputs
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional npm cache directory
.npm

# Vercel
.vercel

# OS-specific files
.DS_Store
Thumbs.db

# dependencies
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# production
/build

# misc
*.pem

# debug

# local env files

# typescript
*.tsbuildinfo
next-env.d.ts

# Personal
.leads.md
.application-letter.md
.personal-files
.portfolio-data.md