engine-strict=true
strict-peer-dependencies=false
auto-install-peers=true
share-workspace-lockfile=true
prefer-workspace-packages=true
save-workspace-protocol=rolling
package-import-method=clone-or-copy
legacy-peer-deps=true